<main class="main">
    <div class="course">
        <div class="course__banner banner">
            <div class="container">
                <h1 class="title banner__title course__title">Урок какой</h1>
            </div>
        </div>
        <div class="container course__container">
            <div class="course__description_short">
                <h2 class="title course__title">О чем курс:</h2>
                <div class="course__paragraphs">
                    Aboba
                </div>
            </div>
            <div class="course__grid">
                <div class="course__plan">
                    <div class="coures__plan_title ui-color">
                        План:
                    </div>
                    <br>
                    <ul class="coures__plan_list">
                        <li class="coures__plan_item">Абоба</li>
                        <li class="coures__plan_item">Абоба</li>
                        <li class="coures__plan_item">Абоба</li>
                        <li class="coures__plan_item">Абоба</li>
                    </ul>
                </div>
                <div class="course__durationf">
                    <div class="ui-color">Длительность:</div>
                    <br>
                    <strong class="course__durationf_count">7 недель</strong>
                </div>
            </div>
            <div class="course__description">
                <h2 class="title course__title">Описание:</h2>
                Описание
            </div>
            <div class="course-buy">
                <button class="btn course-buy__button">Приобрести</button>
                <div class="course-buy__text ui-color">За 900 рублей</div>
            </div>
        </div>
    </div>
</main>